body {

	margin: 0;
	
}

.fondo{
 	top: 0px;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;

}

.prueba{
	position:relative;
	top: 0px;
	height: 17%;
	min-width: 100%;
	background: black;
	
}