body {

	margin: 0;
	
}

/*---------------------------------estilos de menu---------------------------------------*/
header{
	width: 60%;/*ancho del menu*/
	/*background: #4Effff;fondo del menu*/
	font-family: Arial;
	font-size: 15px;
	position: relative;
	left: 300px;/*posicion desde la izquierda*/


}
.menu ul{
	margin: 1;/*margen desde el tope de la pantalla hasta el menu*/
	list-style: none;
	padding: 10;/*distacia eentre cada albra del mneu*/
	display: flex;/*por defecto pone tod el menu en linea*/
	justify-content: center;

}

.menu li {
	text-align: center;
	border-right: 0.5px solid #fff;
	
}
.menu li:hover{
	background: rgba(239,250,183,0.5);/*es para el menu cambie de color cuando se coloque el menu*/
}
.menu li a{
	display: block;
	padding:  10px 20px;
	color : #fff;
	text-decoration: none;
}

/*------------------------------------------fin de estilos de menu-------------------------------*/

/*-------estilos de logo inicial -*/
.hombre1{
 
  position: absolute;
    top:25px;
    left:105px;
 
}
.revo1{/*estilos de revo*/
font-family: Aldhabi ;
font-size: 300%;
position: absolute;
top:10px;
left: 20px;
color: #ffffff;

}
.sport1{
font-family: Aldhabi ;
font-size: 300%;
position: absolute;
top:10px;
left:150px;
color: #ffffff

}

/*fin de logo incilal*/


/* iniciar sesion*/
.sesion{
background: rgba(238,227,31,0.9);
width: 10%;

padding:  10px 10px;
text-align: center;
font-family: 	arial;
font-size: 100%;
position: absolute;
top:20px;
left:1180px;
color: #ffffff;


}
.sesion a{
	text-decoration: none;
	color: black;
}

.sesion:hover{
	background: rgba(247,248,234,0.5);
}
.prueba{
	position: absolute;
	top: 0px;
	height: 17%;
	min-width: 100%;
	background: black;
	z-index: -1;
}

